*{
  margin: 0;
  padding: 0;
  box-sizing: boder-box;
}
body{
  font-family: 'Times New Roman', Times, serif;
}
.App{
  
}
.search-main-box{
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.input-button{
  border-radius: 8px;
  width:20rem;
  height: 1rem;
  font-size: 16px;
  box-shadow: 1px 1px rgb(144, 144, 151);
  color: grey;
  background-color: whitesmoke;
  text-transform: capitalize;
  border:none;
  outline: none;
  padding: 10px;
  margin:20px ;

}
.submit-button{
  border-radius: 8px;
  font-weight: bold;

  width:4rem;
  height: 2.2rem;
  font-size: 16px;
  box-shadow: 1px 1px rgb(144, 144, 151);
  color: black;
  background-color: whitesmoke;
  text-transform: capitalize;
  border:none;
  outline: none;
  padding: 10px;
  margin-top: 20px;
}
.wrap-condainer{
  display: flex;
  flex-wrap: wrap;

}
.main-div{
  width: 10rem;
  height: 10rem;
  border-radius: 1px;
  border: 2px;
  margin: 3rem;


  
}
.main-temp-div{
  background-color: rgb(170, 25, 184);
  opacity: .8;
  text-align: right;
  line-height: 2rem;

}
.main-wind-div{
  background-color: cornsilk;
  line-height: 2rem;

}
.wind{
  display: flex;
  justify-content: space-between;
}
.Humidity{
  display: flex;
  justify-content: space-between;
}
.Pressure{
  display: flex;
  justify-content: space-between;
}